.plan-window {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  // height: 60rem;
  background-color: white;
  border-radius: 9px;

  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;

  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
  }
}
// .shopping-list__heading--1 {
//   grid-column: 1/2;
// }
// .shopping-list__heading--2 {
//   grid-row: -1/1;
//   grid-column: -2/-1;
// }
.plan__container {
  display: grid;
  // gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: 1fr;
}

.plan--btns {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.plan__recipes {
  list-style: none;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 0.2fr;
  border-bottom: 0.5px solid $color-grey-dark-2;
  padding: 1rem;
}
.plan__list {
  overflow-y: auto;
  height: 40rem;
  list-style-position: inside;
}
.plan__date {
  &--container {
    // -webkit-box-shadow: inset 0px 0px 0px 3px $color-primary;
    // -moz-box-shadow: inset 0px 0px 0px 3px $color-primary;
    // box-shadow: inset 0px 0px 0px 3px $color-primary;
    // background-color: red;

    border: 1px;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content: center;
  }
  &--day {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    color: $color-grey-dark-1;
  }
  &--date {
    text-align: center;
    font-size: 1.5rem;
    color: $color-grey-dark-2;
  }
}
.plan__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.plan__closeBtn {
  display: flex;
  align-self: center;
  align-items: center;
  font-family: inherit;
  color: inherit;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
  height: 3rem;
}
